*{
    margin: 0px;
    padding: 0px;
}
body{
    background:repeating-radial-gradient(#232323,#78723f,#4545ff);
    height:100vh;
    width:100%;
    align-items: center;
    justify-content: center;
    display: flex;

}
#line{
    width:200px;
    height:300px;
    
}