/* body{
    margin:0px;
    padding:0px;
    height:10rem;
    width:10rem;
    size: cover
    ;
} */
.vidio{
    height:700px;
    width:700px;
    background: greenyellow;
    /* align-items: center; 
    justify-content: center;  */
    display: flex;
    size:cover;
}

